/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.12.2014, 23:03:32
    Author     : Stefan Iacob
*/

#msform{
    padding: 4px;
}

#loginArea > p[class*="navbar-text"]{
    margin: 3px;
}

#dialogRegister{
    width: 400px !important;
    margin-bottom: 10px;
}

#registerInfo{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100%;
    height: 100%;
    background: #FFF;
}

#registerInfo > label{
    color:#C43F40;
    float:left;
    font-size:0.8em;
    font-weight:bold;
    margin-top:5px;
    padding-left:3%;
    width:calc(90%);
}

#registerInfo > label[for="firstName"]{
    margin-top: 25px !important;
}

form[id="registerInfo"] > input[type="text"], form[id="registerInfo"] > input[type="password"]{
    width: 94%;
    margin-left: 3%;
    float:left;
    margin-top: 1px;
    background: transparent;
    border: 1px solid rgba(204, 204, 204, 0.1);
    color: #C43F40;
    background-color:rgba(204, 204, 204, 0.1);
    outline: none;
    padding-right: 40px;
}

form[id="registerInfo"] > input[type="text"]:focus, form[id="registerInfo"] > input[type="password"]:focus{
    cursor: default !important;
    background-image: url('../images/app/creion_rosu_mare.png') !important;
    background-position:97.5% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

form[id="registerInfo"] > input[type="text"]:hover, form[id="registerInfo"] > input[type="password"]:hover{
    cursor: pointer !important;
    background-image: url('../images/app/creion_gri_mare.png');
    background-position:97.5% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

/*driver checkbox*/
#driverCheckBox{
    width: 100%;
    height: 35px;
    float: left;
    margin-left: 3%;
    margin-top: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#driverCheckBox{
    height: 40px !important;
}


#driverCheckBox input[type="checkbox"]{
    display: none;
}

#driverCheckBox input[type="checkbox"] + em{
    background-image: url('../images/app/check_off.png');
    background-position:top left;
    background-repeat: no-repeat;
}

#driverCheckBox input[type="checkbox"]:checked + em{
    background-image: url('../images/app/check.png');
    background-position:top left;
    background-repeat: no-repeat;
 
}

#driverCheckBox em{
    padding-left: 30px;
    border:none;
    color:#c43f40;
    float:left;
    font-size:1em;
    font-weight:bold;
    line-height:1.4em;
    width:100%;
    outline: none;
    font-style: normal;
}


/*end of registration info dialog*/
#submitUser{
    margin-right: 20px;
    margin-top: 20px;
}

/*css for new route form*/
#newRouteFormContainer{
    float:left;
    width: 30%;
}

#newRoute{
    float: left;
    width: 100%;
    
}